@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
	font-family: 'Comfortaa', cursive !important;
}

.input-tex {

	padding: 10px;  
	border:1px solid #607D8B;
	border-radius: 50px;
	/* outline:none, es para eliminar la linea asul que tienen los inputs por defecto.*/
	outline: none;
	
	display: inline-block;
}
.input-tex:hover {
	background-color: #eee;
	color: #FF3700;
	/* outline:none, es para eliminar la linea asul que tienen los inputs por defecto.*/
	outline: none;
}
.button-circle {
		padding: 10px; 
		color: #FF3700;
		border:1px solid #607D8B;
		border-radius: 50px;
		background: #fff;
		/* outline:none, es para eliminar la linea azul que tienen los inputs por defecto.*/
		outline: none;
		
		display: inline-block;
}


.lnk{
	color:#555;
	padding: 15px;  
	border:1px solid grey;
	border-radius: 50px;
	/* outline:none, es para eliminar la linea asul que tienen los inputs por defecto.*/
	outline: none;

	margin:15px;
}
.lnk:hover{
	color:#555;
	background: #ddd;
	text-decoration:none;
}

 
.avatar {
  object-fit: cover;
  border-radius:50%;
  width: 180px;
  height: 180px;
  margin:15px;
}

.main-title{
	transition: none;
    text-align: inherit;
    line-height: 23px;
    border-width: 0px;
    margin: 9px 0px 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 21px;
}


.section{
	border: 1px solid grey;
	background-color: white;
	margin-bottom: 20px;
	
}


.color-hr{
    border-top-color: #009933;
    margin-top: 40px;
    margin-bottom:40px;

}
.loginError{
	margin-top: 20px;
    color: #FF3700;
}
.loginErrorContainer{
	width: 500px;
}
    
    
.loginMessage{
margin-top: 20px;
   color: #00cc00;
}
.loginMessageContainer{
width: 500px;
}


.footerFontStyle{
margin-top: 20px;
   color: #FF3700;
   font-size: 15px;
}
.footerFontStyle-app{
margin-top: 20px;
   color: #607D8B;
   font-size: 15px;
}
.page_contend_max_section{
	width: 960px;
	height: 450px;
	margin: auto;
    margin-top: 110px;
    margin-bottom: 80px;
        
}
[class*="myProfile-"] {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	
}
.myProfile-section{
	display:flex;
	margin: auto;
	padding: 50px;
}
.myProfile-container{
	margin: auto;
	background-color: #e6e6e6;
	width: 550px;
	height: 550px;
	border-radius: 5px;
	margin-top: 110px;
	padding: 30px;	
}
.myProfile-avatarContainer{
	display: block;
	text-align: center;
	background-color: #e6e6e6;
	background-size: contain;
	box-sizing: border-box;
	border:  #fff 5px solid;
	border-radius: 50%;
	height: 170px;
	width: 170px;
	margin-top: 25px;
	margin: auto;
	position: relative;
}
.leyendaAvatar{
	margin: auto; 
	font-size: small;
	margin-top: 49%; 
	display: none;
	background-color: #fff;
	width: max-content; 
	border-radius: 5px;
	color:#607D8B;
}
.Profile-gbtn{
	margin: auto;
	margin-top: 25%;
	font-size: small;
	border-radius: 10px;
	border: solid 1px #607D8B;
	background-color: #ffff;
	color: #607D8B;
	display: none;
}
.Profile-gbtn span::after{
	content: "..."
}
#linea {
	margin-top: 0;
	float: left;
	border-bottom: 1px solid;
	border-top: 1px solid;
	color: #607D8B;
	width: 90%;
}
.myProfile-form{
	padding: 50px;
}
.myProfile-profileData{
	text-align: left;
	padding: 10px;
	padding-left: 30px;
	border:  #fff 2px solid;
	border-radius: 7px;
	color:#607D8B;
}

     /* -->Hover de objetos.<-- */

.myProfile-avatarContainer:hover {
	filter: opacity(.5);
	cursor: pointer;
}

.myProfile-avatarContainer:hover  #leyendaAvatar {
	display: block;
	
}
.myProfile-avatarContainer:hover  .Profile-gbtn {
	display: block;
}
.Profile-gbtn:hover {
		cursor: pointer;		
}
.Profile-gbtn:hover span::after{
	content: "Avatar por Defecto";
	}
